.service__item {
    /* background-color: var(--card-bg-01); */
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 15px;
    margin: 1.5rem 0;
}

.service__item span i{
    font-size: 1.8rem;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
}

.service__item h3{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.service__item p{
    font-size: 0.9rem;
    font-weight: 500;
}

.section__title{
    color: var(--primary-color);
    font-weight: 500;
}